.flight-overview-container {
    display: flex;
    flex-direction: column;
    margin-right: 25rem;
    margin-left: 25rem;

}

.selected-flight-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.duration {
    display: flex;
    justify-content: center;
    flex-direction: column;
}